.about {}

.about__title {
    text-align: left;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 36px;
  }
  
  .about__frame__19 {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 48px;
  }
  
  .about__stats__list > li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: inline-block;
    padding: 0 180px 0 15px;
  }

  .about__stats__list > li h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
  }